body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url("../rep.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background:rgb(240, 240, 240);
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fff;

}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(235, 194, 14);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgba(9, 16, 126, 0.788);
}
 